#Error404 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 550px;
    height: 200px;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 30px;
    display: grid;
    grid-template-columns: 35px 245px 90px 90px;
    grid-template-rows: 40px 60px 50px;
    color: var(--md-sys-color-error-container);
    background-color: var(--md-sys-color-error);
}

#Error404 .icon {
    display: flex;
    align-items: center;
    justify-content: left;
}

#Error404 .heading {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: x-large;
    grid-column: span 3;
}

#Error404 .context {
    margin-top: 10px;
    grid-column: span 3;
}

#Error404 .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
    border-radius: 30px;
    text-decoration: none;
    color: var(--md-sys-color-error-container);
    outline: none;
    border: 1px var(--md-sys-color-error-container) solid;
    transition: all 0.3s ease;
}

#Error404 .button:hover {
    background-color: var(--md-sys-color-error-container);
    color: var(--md-sys-color-on-error-container)
}