* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

body {
    height: 100vh;
    background-color: var(--md-sys-color-background);
    display: grid;
    grid-template-columns: 250px calc(100% - 250px);
}

#navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#navigation .top {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navigation .top .button {
    width: 95%;
    height: 50px;
    margin-bottom: 12px;
    border-radius: 10px;
    border: none;
    font-size: medium;
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    text-decoration: none;
    --_container-elevation: 0;
}

#navigation .top .button div{
    display: flex;
    align-items: center;
    justify-content: left;
}

#navigation .top .button span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
}

#navigation .top .primary {
    opacity: 90%;
    background-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
}

#navigation .top .secondary {
    background-color: var(--md-sys-color-background);
    border-radius: 25px;
    color: var(--md-sys-color-on-background);
}

#content {
    background-color: var(--md-sys-color-surface-container-low);
    margin: 5px;
    border-radius: 25px;
    position: relative;
}

#content .top {
    box-sizing: border-box;
    width: 98%;
    margin: 1%;
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    background-color: var(--md-sys-color-surface-container-high);
    color: var(--md-sys-color-on-surface);
    border-radius: 20px;
}

#content .top .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#content .top .search {
    display: flex;
    align-items: center;
    justify-content: center;
}

#content .top .search .button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 10px;
    outline: none;
    margin: 5px;
    background-color: var(--md-sys-color-surface-container-highest);
    color: var(--md-sys-color-on-surface);
}

#content .top .search .input {
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    padding: 10px;
    background-color: var(--md-sys-color-surface-container-highest);
    color: var(--md-sys-color-on-surface);
}